.walls {
  padding: 25px 0 40px;
  margin-top: 22px;
  min-height: 700px;
  background: url('../img/bg/white-fabric.png');
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__desc {
    margin-bottom: 20px;
  }
  &__choice-item{
    width: 118px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

}
