.walls {
  padding: 55px 0 40px;
  margin-top: 22px;
  min-height: 700px;
  background: url('../img/bg/white-fabric.png');
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__desc {
    margin-bottom: 20px;
  }
  &__choice-item{
    width: 118px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  @media (max-width: 991px) {
    &__row {
      flex-direction: column;
      align-items: center;
    }
    &__element {
      margin-bottom: 40px;
    }
    &__element:nth-child(1) {
      order: 3;
    }
  
  }
  @media (max-width: 767px) {
      & {
        margin-top: 7px;
      }
  }
  @media (max-width: 576px) {
    &__wrapper {
      max-width: 550px;
      padding-left: 1px;
      padding-right: 1px;
    }
    &__element {
      max-width: 550px;
    }
  }

}
